@{
    ViewData["Title"] = "MedPoint";
}
<div class="row">
        <div class="col-md-6">
        <div class="card mb-4" style="max-height:500px; max-width:500px">
                <div class="card-header lh-lg" >
                    <a href="#" class="d-grid gap-2 btn btn-success btn-lg">Umów wizytę!</a>
                </div>
            <img src="https://pliki.rynekzdrowia.pl/i/17/49/30/174930_r2_940.jpg" class="card-img" >
        </div>
        </div>

    <div class="col-md-6" style="max-height:500px; max-width:500px">
            <div class="card mb-3" >
            <div class="card-header lh-lg" >
                    <a href="#" class="d-grid gap-2 btn btn-success btn-lg">Nasi specjaliści</a>
                </div>
                    <img src="https://dpmed.pl/wp-content/uploads/2018/10/600x0_ginekologia_dzieceia-1.jpg" class="card-img">         
            </div>
        </div>


</div>

