@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h5 class="align-middle text-success" style="font-size:xx-large;position:absolute;top:50%; left:50%; transform: translateX(-50%) translateY(-50%)">Dodano wizytę do bazy danych! </h5>